@import '../global/global.scss';

.footer{
    width: 100%;
    // height: 20vh;
    background-color: #040221;
    color: white;
    transition: all 1s ease;
    @include mob{
        overflow: hidden;
      }

    .wrapper{
        // margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        
        .imgCont{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            margin-left: 50px;
            margin-top: 1vw;
            overflow: hidden;
            margin-right: 50px;
            width: 2.5vw;
            //  height: 2.5vw;
            overflow: hidden;
            @include ipad{
              width: 40px;
              margin-top: 20px;
            }
            @include mob{
              width: 30px;
                margin-top: 20px;

            }
            // .nav{
            //     visibility: hidden;
            //     animation: Blink 2s infinite;
            // }
            @keyframes Blink {
                100%{   opacity:0;}
            }

            &:hover {
                .nav{  visibility:visible;
                        
                }
            }
                .x{
                    overflow: hidden;
                    
                }
            

            img{
                object-fit: contain;
                width: 100%;
                height: 100%;
                cursor: pointer;

          
                
            }
        }
        .social{
            display: flex;
            align-items: center;
            justify-content:space-evenly;
            margin-top: 1vw;
            width: 50vw;
            height: 50px;
            font-weight: bold;
            font-size: 18px;

            @include mob{
                width: 380px;
                margin-top: 15px;
            }
            .linkdin{
                cursor: pointer;

            }
            .github{
                cursor: pointer;
            }
            .behance{
                cursor: pointer;

            }
            .codepen{

                cursor: pointer;

            }

        }
        .word{
            margin-top: 2vw;
            margin-bottom: 1vw;
            font-weight: 500;
            font-size: clamp(.8rem, 1.5vw, 1vw);

        }

    }
}
.soc {
    position: relative;
    text-decoration: none;
    color: lightgrey;
    font-size: clamp(1rem, 2vw, 1.2vw);


    font-weight: bold;
    padding-bottom: 5px;
    

  }
  
  .soc:hover {
    color:white;

  }
  
  .soc::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #FF0513;
    margin-top: 10px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .soc:hover::before {
    transform: scaleX(1);
  }

  img:hover > .nav{margin-left: 50px;}